<!Doctype html>
<html>

<head>
    <title>Cart-Details</title>


</head>

<body ng-controller="cartDetailsController">



    <p class="text-info">Thanks for shopping </p>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span8">

                <h3>View Your Cart Product Details</h3>

                <table class="table table-bordered">
                    <tr class="well">
                        <th><b>Product-Name</b></th>
                        <th class="tdRight"><b>Price</b></th>
                        <th class="tdCenter"><b>Quantity</b></th>
                        <th><b>New-Price</b></th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="item in cart">
                        <td>{{item.name}}</td>
                        <td class="tdRight" id="n1">{{item.price}}</td>
                        <td>
                            <input type="number" id="n2" ng-init="quantity=1" min="1" ng-model="quantity"></td>

                        <td class="total-Price">{{quantity * item.price}}</td>
                        <td>
                            <input type="button" value="Remove" ng-click="onRemove($index)" />
                        </td>


                        <!--                <td><input type="submit" value="Submit" ng-click="findTotal(item.cost)"><span id="result"></span></td>-->
                    </tr>
                    <tr class="well">
                        <th>Total</th>
                        <td class="tdRight"></td>
                        <td></td>
                        <td>{{getTotal1()}}</td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <br>
            <br>

            <button data-toggle="collapse" data-target="#demo" class="btn btn-info">Add Address</button>
            <div id="demo" class="collapse">
                <br>
                <br>
                <form class="form-horizontal" role="form" name="sampleForm" validate>
                    <style>
                        .error {
                            background-color: red;
                        }

                        .bad {
                            color: red;
                        }
                    </style>
                    <div class="form-group">
                        <div class="col-md-4">
                            <lable ng-class="{bad: ( sampleForm.name.$invalid && sampleForm.name.$pristine )  }">Full Name:</lable>
                            <input type="text" class="form-control" name="name" ng-model="name" ng-pattern="/^[a-zA-Z\s]*$/" required/>
                            <span ng-show="isInvalid('name')" class="help-inline">Name is required</span>
                            <span ng-show="isValid('name')">Great!</span>

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4">
                            <lable>Mobile No:</lable>
                            <input type="text" class="form-control" name="mobileno" ng-model="mobileno" ng-minlength="10" ng-maxlength="13" ng-pattern="/^[0-9]*$/" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            Email Id:
                            <input type="email" class="form-control" name="emailid" ng-model="emailid" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <label>Address:</label>
                            <input type="text" class="form-control" name="address" ng-model="address" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <label>Pin-Code:</label>
                            <input type="text" class="form-control" name="pincode" ng-model="pincode" ng-minlength="6" ng-maxlength="6" ng-pattern="/^[0-9]+$/" required/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div style="padding-left:110px">
                            <input type="reset" value="Submit" class="btn btn-info" ng-click="showdetails()" required/>
                        </div>
                    </div>
                    <br>
                    <br>


                </form>
            </div>
            <br>
            <br>

            <div class="span4">
                <p class="text-info" align="right">
                    <input type="button" value="Shop More" class="btn btn-info" ng-click="clickAdd()" style="width: 50%" /> </p>
                <p class="text-info" align="right">
                    <input type="button" value="Clear Cart" class="btn btn-info" ng-click="clearItems()" style="width: 50%" />
                </p>
                <p class="text-info" align="right">
                    <input type="button" value="checkout" class="btn btn-info" ng-click="clickPay()" style="width: 50%" />
                </p>
            </div>
        </div>
    </div>
</body>

</html>
