<script src="https://www.paypalobjects.com/api/checkout.js" data-version-4></script>

<header>
    <h2 align="center" style="color:red;background-color:skyblue"><b>Order Summary</b></h2>
</header>
<hr>
<div align=right>
    <input type="button" value="Home" ng-click="home()" ; style="width:6%;height:3em;border-radius:5px;background-color:lightgrey;color:black;margin-right:1%">
    <input type="button" value="Back to Cart" ng-click="back()" ; style="width:10%;height:3em;border-radius:5px;background-color:lightgrey;color:black;margin-right:2%">
</div>
<hr>


<table align="center" style="border:1px solid white;border-collapse:collapse;width:60%;">
    <tr style="background-color:lightgrey">
        <th style="border:1px solid black;border-collapse:collapse;padding-left:1%;color:red;font-weight:bold;font-size:20px">Item</th>
        <th style="border:1px solid black;border-collapse:collapse;padding-left:1%;color:red;font-size:20px">Price</th>
        <th style="border:1px solid black;border-collapse:collapse;padding-left:1%;color:red;font-weight:bold;font-size:20px"></th>

    </tr>
    <tr ng-repeat="obj in payy">
        <td style="border:1px solid black;border-collapse:collapse;padding-left:1%;color:black">{{obj.name}}</td>
        <td style="border:1px solid black;border-collapse:collapse;padding-left:1%;color:black" ng-model="rem"> {{obj.cost|number}}</td>
        <td style="border:1px solid black;border-collapse:collapse;padding-left:1%;color:black;">
            <button style="border-radius:5px;width:50%;" ng-click="remove(obj.name,obj.cost)">Remove</button>
    </tr>
    <tr style="border:1px solid black;border-collapse:collapse;padding-left:1%;background-color:lightgrey">
        <td style="color:black;font-size:18px;font-weight:bold" align="right">Total:</td>
        <td style="color:black;font-size:18px;font-weight:bold" align="center">{{totalcost|number}}</td>
        <td></td>
    </tr>
</table>

<br>
<input type="button" ng-value="value" ng-click="continue();click=!click" style="width:12%;height:3em;border-radius:5px;margin-left:1%;background-color:lightgrey;color:black">
<br>

<div ng-show="continuepay">

    <paypal-button env="opts.env" client="opts.client" payment="opts.payment" commit="opts.commit" on-authorize="opts.onAuthorize"></paypal-button>

</div>
