<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h1>Product Details:</h1></div>
    <div class="col-md-4"></div>
</div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="thumbnail">
            <!--
            <div class="thumbnail">
                <img ng-src={{image}} alt="image">
            </div>
-->
            <div class="container">
                <h3 style="color:blue">{{name|uppercase}}</h3>
                <h3>{{make}}</h3>
                <h3><i class="fa fa-inr"></i>{{price|currency:""}}</h3>
                <div>
                    <button ng-click="cart()">Add to cart</button>
                    <button ng-click="buy()">Buy</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
